.env
.env.production
.env.bak
docs/project.md
RFC.md
RFC-Submission.md
docs/rfc/RFC.md
docs/rfc/RFC-Submission.md
coverage*.out
coverage.html
coverage.func.txt
coverage.core.func.txt
dist/
bin/
*.log
.DS_Store
vendor
